.pane-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    border-radius: 20px;
    padding: 2.5em 1.5em;
    position: relative;
}

.pane-header {
    font-size: 40px;
}

.pane-information {
    font-size: 20px;
}

.pane-image {
    position: absolute;
    border-radius: 20px;
    object-fit: cover;
    top: 1.5em;
    left: 1.5em;
}

.pane-hidden-image {
    display: none;
}
